<nav class="navigation-default">
  <div class="nav-wrapper">
    <div class="left-nav">
      <img class="logo" src="{{ url_for('static', filename='dist/img/logo@2x.png') }}" alt="logo" />
      <a class="nav-link" href="{{ url_for('main_blueprint.home') }}">Home</a>
      <a class="nav-link" href="{{ url_for('main_blueprint.about') }}">About</a>
      <a class="nav-link" href="{{ url_for('main_blueprint.etc') }}">Etc</a>
    </div>
    <div class="right-nav">
      <a class="nav-link" href="{{ url_for('admin_blueprint.dashboard') }}">My Account</a>
    </div>
  </div>
</nav>