@import 'variables.less';

nav {
    background: #fff;
    padding: 25px 0;
    margin: 0 auto;
    box-shadow: 0 0 5px @box-shadow-nav;

    @media(max-width: @mobile-breakpoint) {
      box-shadow: unset;
    }

    .nav-wrapper {
      max-width: 85vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: auto;
      margin: 0 auto;
      @media(max-width: @mobile-breakpoint) {
        max-width: 90vw;
      }

      .left-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo,
        img {
          width: 40px;
          margin-right: 20px;
        }

        a {
          margin-right: 20px;
          font-weight: 400;
        }
      }
    }

    a {
        color: @nav-link-color;
        transition: @transition;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            opacity: .7;
        }
    }
}