@import 'variables.less';

nav {
    background: #fff;
    padding: 15px 30px;
    width: auto;
    margin-bottom: 40px;
    box-shadow: 0 0 5px @box-shadow-nav;

    .nav-wrapper {
      max-width: 900px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: auto;
      margin: 0 auto;

      .left-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
          width: 40px;
          margin-right: 20px;
        }

        a {
          margin-right: 20px;
          font-weight: 400;
        }
      }
    }

    a {
        color: @nav-link-color;
        transition: @transition;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            opacity: .7;
        }
    }
}